<div class="carousel">
    <div class="carousel-inner">
      <img src="assets/Images/bg5.jpg">
      <div class="text-center centered">
        <h1 class="mt-4 wow fadeInDownBig">TRANZO</h1>
        <h1 class="mt-3 wow bounceInDown">Safe and Smart Transport</h1>
        <h3 class="mt-3 mb-5 wow zoomIn">A Digital Platform delivering smart mobility solutions addressing capacity problems,safety,security,reliability,pollution, and wasted energy for the transportation industry
        </h3>
       
      </div>
      <div class="carousel-caption centered1">
          <button class="btn btn-primary mt-5">Schedule a Demo</button>
      </div>
  
  
    </div>
   
  </div>







  <!-- About product -->


  <div class="container-fluid">
    <div class="text-center col-lg-12 mt-5">
      <h2 class="primaryText1">ABOUT THE PRODUCT</h2>
    </div>

  <div class="row mt-5">
    <div class="col-lg-5 d-flex align-items-sm-center">
      <img src="assets/Images/car.jpg" class="img-fluid" alt="Responsive image" >
    </div>





    <div class="col-lg-7">
      <div class="row justify-content-center">
        <div class="card mr-5" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="ml-5 card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="card mr-5" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="ml-5 card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

    </div>

  </div>
  </div>


<!-- contact us -->
<div class="container mt-5">
  <div class="wow pulse text-center text-info" data-wow-duration="2s">
    <h1 class="primaryText1">CONTACT US</h1>
  </div>
  <div class="jumbotron text-center">
    <h3>Interested in knowing more about our products and solutions?</h3>
    <p>Why not drop us a line or pick up the phone and give us a shout. Our team would love to talk to you and find ways of Making Business Easy.</p>
</div>
  <div>
      <form>
          <div class="form-row">
            <div class="col-md-4 mb-3 wow pulse" data-wow-duration="2s">
              <label for="validationDefault01">Name</label>
              <input type="text" class="form-control" id="validationDefault01" placeholder="Name" required>
            </div>
            <div class="col-md-4 mb-3 wow pulse" data-wow-duration="2s">
              <label for="validationDefault02">Phone No</label>
              <input type="text" class="form-control" id="validationDefault02" placeholder="Phone No"  required>
            </div>
            <div class="col-md-4 mb-3 wow pulse" data-wow-duration="2s">
              <label for="validationDefaultUsername"> Email Adress</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend2">@</span>
                </div>
                <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Email Adress" aria-describedby="inputGroupPrepend2" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            
            <div class="col-md-8 mb-3 wow pulse" data-wow-duration="2s">
              <label for="validationDefault04">Message</label>
              <textarea type="text" class="form-control" id="validationDefault04" placeholder="" required></textarea>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-md-2 mt-5 wow pulse" data-wow-duration="2s">
              <!-- <label for="validationDefault03">Company/Organization</label>
              <input type="text" class="form-control" id="validationDefault03" placeholder="Company/Organization" required> -->
              <button class="btn btn-primary form-control" type="submit">Send</button>
            </div>
          </div>
          <!-- <button class="btn btn-primary" type="submit">Send</button> -->
        </form>
  </div>
</div>

  
  
  <!-- <div class="container ">
    <div class="mt-5 wow pulse">
        <h1 class="text-center text-info" >About Us</h1>
  
    </div>
  <div class="mt-4 wow zoomIn" data-wow-duration="2s">
      <p class="text-center">
          Road safety and safe transportation are essential for the modern society. The future of Safe & Smart Transportation belongs to Artificial Intelligence and Digital Technologies.
        </p>
        <p class="text-center">
          Tranzo Digital is designing and delivering safe & smart solutions addressing major challenges like capacity problems, safety, security, reliability, environmental pollution, and wasted energy for the transportation industry taking advantage of emerging technologies such as Artificial Intelligence, IoT.
        </p>
        <p class="text-center">
          Transportation systems in India face several challenges with increasing number of road accidents and inefficiencies and loses $8.2 billion annually due to accidents and road safety lapses alone
        </p>
        <p class="text-center">
          Tranzo Digital Platform through its Smart Mobility as a Service (SMaaS) model offers various solutions such as SafeRide, SafeRoadz, SmartDriver, Safe2School, SafeBus, SafeTruck offer insights on driver behaviour, fuel efficiency, route efficiency, pollution parameters through IOT devices connected to the platform to enable smart mobility.
        </p>
  </div>
  
  </div> -->
  
  <!-- <div class="">
    <div>
        <h1 class="text-center text-info mt-5 wow pulse">Solutions</h1>
    </div>
  <div class="container mt-5">
  <div class="row"> 
  <div class="offset-sm-1 col-sm-5 text-center wow bounceInLeft " data-wow-duration="2s">
      <i class="fas fa-user-shield" style="font-size: 50px"></i>
    <h3>SMARTDRIVER</h3>
    <p>One stop portal for professionally trained, certified, background verified drivers and behaviour analysis to ensure driver safety.</p>
  </div>
  <div class=" col-sm-5 text-center  wow bounceInRight">
      <i class="fas fa-road" style="font-size: 50px"></i>
    <h3>SAFEROADZ</h3>
    <p>Delivering valuable insights about pollution parameters, capacity problems, fuel efficiency and energy utilisation through IOT devices connected to the platform</p>
  </div>
  
  </div>
  
  
  </div>
  
  
  <div class="container mt-5">
    <div class="row">
        <div class="offset-sm-1 col-sm-5 text-center wow bounceInLeft" data-wow-duration="2s">
            <i class="fas fa-bus" style="font-size: 50px"></i>  
          <h3>SAFEBUS</h3>
            <p>Ensuring passenger and vehicle safety in public and private bus transport through real time remote monitoring and alert management system.</p>
          </div>
          <div class="col-sm-5 text-center wow bounceInRight" data-wow-duration="2s">
              <i class="fas fa-bus-alt" style="font-size: 50px"></i>
            <h3>SAFE2SCHOOL</h3>
            <p>Ensuring kids safety in school buses and peace of mind for parents through continuous remote monitoring and real-time alerts.</p></div>
    </div>
  </div>
  
  
  
  <div class="container mt-5">
  
  <div class="row">
      
      <div class="offset-sm-1 col-sm-5 text-center wow bounceInLeft" data-wow-duration="1s">
          <i class="fas fa-truck" style="font-size: 50px"></i>
        <h3>SAFETRUCK</h3>
      <p>A comprehensive solution for truck owners/aggregators that will ensure the safety of drivers and high-value goods, route optimisation, consignment tracking and on-time delivery.</p></div>
      <div class="col-sm-5 text-center wow bounceInRight" data-wow-duration="1s">
          <i class="fas fa-car" style="font-size: 50px"></i>
        <h3>SAFERIDE</h3>
      <p>A solution for private car owners, ride-hailing and ride-sharing services to ensure road safety, passenger safety and traffic regulations that would improve help improve efficiency of road transport</p></div>
  </div>
    
  
  </div>
  
  
  </div> -->
  
  
<!--   
  <div class=jumbotron style="background-color: antiquewhite">
    <div class="">
      <div>
          <h3 class="wow slideInUp text-center text-warning" style="font-style: italic">DIGITAL BIOMAKER FOR ALCOHOL</h3>
      </div>
      <div class="wow zoomIn text-center mt-4">
        <p>
            Our Patented “AlcoTrack Digital Biomarkers” integrated with the platform and the driver app enable real time remote monitoring of drivers along with Mobile On Board Diagnostics that provide continuous analysis and feedback to ensure safety of driver, vehicle and high value goods.
        </p>
      </div>
      <div class="wow tada text-center mt-4">
        <button class="btn btn-outline-primary">Schedule a Demo</button>
      </div>
  
    </div>
  </div>
  <div class="container">
    <div class="wow pulse text-center text-info" data-wow-duration="2s">
      <h1>Contact Us</h1>
    </div>
    <div class="jumbotron text-center">
      <h3>Interested in knowing more about our products and solutions?</h3>
      <p>Why not drop us a line or pick up the phone and give us a shout. Our team would love to talk to you and find ways of Making Business Easy.</p>
  </div>
    <div>
        <form>
            <div class="form-row">
              <div class="col-md-4 mb-3 wow pulse" data-wow-duration="2s">
                <label for="validationDefault01">Name</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Name" required>
              </div>
              <div class="col-md-4 mb-3 wow pulse" data-wow-duration="2s">
                <label for="validationDefault02">Phone No</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Phone No"  required>
              </div>
              <div class="col-md-4 mb-3 wow pulse" data-wow-duration="2s">
                <label for="validationDefaultUsername"> Email Adress</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                  </div>
                  <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Email Adress" aria-describedby="inputGroupPrepend2" required>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-5 mb-3 wow pulse" data-wow-duration="2s">
                <label for="validationDefault03">Company/Organization</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="Company/Organization" required>
              </div>
              <div class="col-md-7 mb-3 wow pulse" data-wow-duration="2s">
                <label for="validationDefault04">Message</label>
                <input type="text" class="form-control" id="validationDefault04" placeholder="" required>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Send</button>
          </form>
    </div>
  </div> -->
  
<!--   
  <footer class="" style="background-color: black">
    <div class="row">
        <div class="offset-sm-1 col-sm-6 mt-5 mb-5" style="color: cornsilk">
            <div class="">
                <h2>Get in Touch With Us</h2>
                <h4><i class="fas fa-mobile-alt"></i>
                  + 91 944-474-2007</h4>
                <h4> <i class="far fa-envelope" style="font-size: 25px"></i>  hello@tranzo.ai<h4>
                
  
            </div>
            <div class="mt-4">
                <h2>Address</h2>
                <p>Siri Towers, 3,4 Fourrts Avenue, Thuraipakkam, Chennai-600097</p>
            
  
            </div>
            </div>
        <div class="col-sm-5 mt-5" style="color: cornsilk">
         
          <div>
              <h3>TRANZO</h3>
              <p>All Rights Reserved</p>
          </div>
          <div class="mt-4">
            <h5>FOLLOW US</h5>
            <i class="fab fa-facebook-f" style="font-size: 20px"></i>
            <i class="fab fa-twitter" style="font-size: 20px"></i>
            <i class="fab fa-linkedin-in" style="font-size: 20px"></i>
            <i class="fab fa-instagram" style="font-size: 20px"></i>
          </div>
  
        </div>
    </div>
    
  
  
  </footer> -->